@import "Resource_Modal";
@mixin border(){
	border-radius:5px;
	border:solid 2px map-get($color,light-gray);
}
.modal_overlay{
	z-index:1050;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	transition:all .5s linear;
	background-color:rgba(0,0,0,1);
	opacity:0;
	overflow:auto;
	text-align:center;
	.modal{
		display:inline-block;
		position:relative;
		text-align:left;
		z-index:1060;
		width:300px;
		height:200px;
		background: map-get($color,dark-gray);
		@include border();
		margin-top:100px;
		.modal_toolbar{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height:20px;
			border-bottom:1px solid rgba(255,255,255,.3);
			.modal_close{
				float:right;
				margin-right:2px;
				&:hover{color:map-get($color,orange);}
				&:before{
					content:"X";
				}
			}
			.modal_title{
				margin-left:4px;
			}
		}
		.modal_content{
			position: absolute;
			top: 20px;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
.modal_overlay[modal_open="true"]{
	opacity:1;
	background-color:rgba(11,16,140,.3);
}